<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <!-- <link href="https://fonts.googleapis.com/css2?family=Poppins:wght
    @500&display=swap" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
        <link rel="stylesheet" href="./css/style.css" />
        <link rel="stylesheet" href="./css/youtube.css" />
        <title>Youtube</title>
    </head>
    <body>
        <!-- todo Navbar Section Start   -->
        <nav class="flex_div">
            <div class="nav_left flex_div">
                <!-- <img src="images/menu.png" class="menu_Bcon"> -->
                <i class="fa-solid fa-bars menu_icon"></i>
                <img src="./images/youtube.png" class="logo" />
                <span class="nav_title">YouTube <sup style="font-size: x-small">VN</sup></span>
            </div>
            <div class="nav_middle flex_div">
                <div class="search_box flex_div">
                    <input type="search" placeholder="Search" />
                    <img src="./images/search.png" />
                </div>
                <img src="./images/voice-search.png" class="mic_icon" />
            </div>
            <div class="nav_right flex_div">
                <img src="./images/upload.png" />
                <img src="./images/notification.png" />
                <img src="./images/user.png" class="user_icon" />
            </div>
        </nav>
        <!-- todo Navbar Section End   -->

        <!-- todo Sidebar Section Start   -->
        <div class="sidebar">
            <div class="shortcut">
                <a href=""
                    ><img src="./images/home.png" alt="" />
                    <p>Trang chủ</p></a
                >
                <a href=""
                    ><img src="./images/explore.png" alt="" />
                    <p>Thịnh hành</p></a
                >
                <a href=""
                    ><img src="./images/subscriprion.png" alt="" />
                    <p>Kênh đã đăng ký</p></a
                >
                <hr>
                <h3>Bạn</h3>
                <a href=""
                    ><img src="./images/library.png" alt="" />
                    <p>Thư viện</p></a
                >
                <a href=""
                    ><img src="./images/history.png" alt="" />
                    <p>Lịch sử</p></a
                >
                <a href=""
                    ><img src="./images/playlist.png" alt="" />
                    <p>Danh sách</p></a
                >
                <a href=""
                    ><img src="./images/messages.png" alt="" />
                    <p>Tin nhắn</p></a
                >
                <a href=""
                    ><img src="./images/show-more.png" alt="" />
                    <p>Thêm</p></a
                >
                <hr />
            </div>
            <div class="subscription">
                <h3>Kênh đăng ký</h3>
                <div class="subscriprion-channel">
                    <a href=""
                        ><img src="./images/Jack.png" alt="" />
                    </a>
                    <p>Khám phá thiên nhiên</p>
                </div>
                <div class="subscriprion-channel">
                    <a href=""
                        ><img src="./images/Jack.png" alt="" />
                    </a>
                    <p>Khám phá thiên nhiên</p>
                </div>
                <div class="subscriprion-channel">
                    <a href=""
                        ><img src=".images/Jack.png" alt="" />
                    </a>
                    <p>Khám phá thiên nhiên</p>
                </div>
                <div class="subscriprion-channel">
                    <a href=""
                        ><img src="./images/Jack.png" alt="" />
                    </a>
                    <p>Khám phá thiên nhiên</p>
                </div>
                
            </div>
        </div>
        <!-- todo Sidebar Section End   -->
        <div class="container">
            <div class="header_menu">
                <div class="thinhHanh">
                    <div class="thinhHanh-img">
                        <img src="https://www.youtube.com/img/trending/avatar/trending.png" alt="" />
                    </div>
                    <h3>Thịnh hành</h3>
                </div>
                <div class="thinhHanh_menu">
                    <a href="" class="active">Mới nhất</a>
                    <a href="">Âm nhạc</a>
                    <a href="">Trò chơi</a>
                    <a href="">Phim ảnh</a>
                </div>
            </div>
            <div class="video-list">
                <div class="video-wrap">
                    <div class="video-img v1">
                        <img src="https://i.ytimg.com/vi/Xqh5sGEs8g8/hq2.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGABwAcABBvABAfgBtgiAAoAPigIMCAAQARhEIEAocjAP&rs=AOn4CLDUp9f_mdGtr3el3Wtm6QBvnI8i-g" alt="" />
                        <div class="short s1">
                            <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 24 24" width="14" focusable="false" style="pointer-events: none; display: inherit; width: 70%; height: 70%;"><path d="m17.77 10.32-1.2-.5L18 9.06c1.84-.96 2.53-3.23 1.56-5.06s-3.24-2.53-5.07-1.56L6 6.94c-1.29.68-2.07 2.04-2 3.49.07 1.42.93 2.67 2.22 3.25.03.01 1.2.5 1.2.5L6 14.93c-1.83.97-2.53 3.24-1.56 5.07.97 1.83 3.24 2.53 5.07 1.56l8.5-4.5c1.29-.68 2.06-2.04 1.99-3.49-.07-1.42-.94-2.68-2.23-3.25z" fill="red"></path></svg>
                            <p>SHORTS</p>
                        </div>
                    </div>
                    <div class="video-content">
                        <div class="video-title">
                            <h3></h3>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                        <div class="channel">
                            <p class="channel-title"></p>
                            <i class="fa-solid fa-circle-check" style="color: gray;"></i>
                            <div class="channel-more">
                                <p class="view"></p>
                                <div class="dot"></div>
                                <p class="date">6 ngày trước</p>
                            </div>
                        </div>
                        <p class="infomation"></p>
                    </div>
                </div>
                <div class="video-wrap">
                    <div class="video-img v2">
                        <img src="https://i.ytimg.com/vi/SF1Q2yEZrqc/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGABwAcABBvABAfgBtgiAAoAPigIMCAAQARhlIFQoVDAP&amp;rs=AOn4CLCR1ggeMXWBAoqDau45r1YN3989ug" alt="" />
                        <div class="short s2">
                            <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 24 24" width="14" focusable="false" style="pointer-events: none; display: inherit; width: 70%; height: 70%;"><path d="m17.77 10.32-1.2-.5L18 9.06c1.84-.96 2.53-3.23 1.56-5.06s-3.24-2.53-5.07-1.56L6 6.94c-1.29.68-2.07 2.04-2 3.49.07 1.42.93 2.67 2.22 3.25.03.01 1.2.5 1.2.5L6 14.93c-1.83.97-2.53 3.24-1.56 5.07.97 1.83 3.24 2.53 5.07 1.56l8.5-4.5c1.29-.68 2.06-2.04 1.99-3.49-.07-1.42-.94-2.68-2.23-3.25z" fill="red"></path></svg>
                            <p>SHORTS</p>
                        </div>
                    </div>
                    <div class="video-content">
                        <div class="video-title">
                            <h3></h3>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                        <div class="channel">
                            <p class="channel-title"></p>
                            <i class="fa-solid fa-circle-check" style="color: gray;"></i>
                            <div class="channel-more">
                                <p class="view"></p>
                                <div class="dot"></div>
                                <p class="date">6 ngày trước</p>
                            </div>
                        </div>
                        <p class="infomation"></p>
                    </div>
                </div>
                <div class="video-wrap">
                    <div class="video-img v3">
                        <img src="https://i.ytimg.com/vi/RwTlsVjW_DY/hq2.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGABwAcABBvABAfgBtgiAAoAPigIMCAAQARhTIFgoZTAP&rs=AOn4CLD1H-MnGd13SALfHMBU8L3oM4PDTQ" alt="" />
                        <div class="short s3">
                            <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 24 24" width="14" focusable="false" style="pointer-events: none; display: inherit; width: 70%; height: 70%;"><path d="m17.77 10.32-1.2-.5L18 9.06c1.84-.96 2.53-3.23 1.56-5.06s-3.24-2.53-5.07-1.56L6 6.94c-1.29.68-2.07 2.04-2 3.49.07 1.42.93 2.67 2.22 3.25.03.01 1.2.5 1.2.5L6 14.93c-1.83.97-2.53 3.24-1.56 5.07.97 1.83 3.24 2.53 5.07 1.56l8.5-4.5c1.29-.68 2.06-2.04 1.99-3.49-.07-1.42-.94-2.68-2.23-3.25z" fill="red"></path></svg>
                            <p>SHORTS</p>
                        </div>
                    </div>
                    <div class="video-content">
                        <div class="video-title">
                            <h3></h3>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                        <div class="channel">
                            <p class="channel-title"></p>
                            <i class="fa-solid fa-circle-check" style="color: gray;"></i>
                            <div class="channel-more">
                                <p class="view"></p>
                                <div class="dot"></div>
                                <p class="date">6 ngày trước</p>
                            </div>
                        </div>
                        <p class="infomation"></p>
                    </div>
                </div>
                <div class="video-wrap">
                    <div class="video-img v4">
                        <img src="https://i.ytimg.com/vi/YXK09vzuk_U/hq2.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGABwAcABBvABAfgBtgiAAoAPigIMCAAQARhXIGUoIjAP&rs=AOn4CLBfrQFlHx3LYaZJd-F1HJEIi5pWsw" alt="" />
                        <div class="short s4">
                            <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 24 24" width="14" focusable="false" style="pointer-events: none; display: inherit; width: 70%; height: 70%;"><path d="m17.77 10.32-1.2-.5L18 9.06c1.84-.96 2.53-3.23 1.56-5.06s-3.24-2.53-5.07-1.56L6 6.94c-1.29.68-2.07 2.04-2 3.49.07 1.42.93 2.67 2.22 3.25.03.01 1.2.5 1.2.5L6 14.93c-1.83.97-2.53 3.24-1.56 5.07.97 1.83 3.24 2.53 5.07 1.56l8.5-4.5c1.29-.68 2.06-2.04 1.99-3.49-.07-1.42-.94-2.68-2.23-3.25z" fill="red"></path></svg>
                            <p>SHORTS</p>
                        </div>
                    </div>
                    <div class="video-content">
                        <div class="video-title">
                            <h3></h3>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                        <div class="channel">
                            <p class="channel-title"></p>
                            <i class="fa-solid fa-circle-check" style="color: gray;"></i>
                            <div class="channel-more">
                                <p class="view"></p>
                                <div class="dot"></div>
                                <p class="date">6 ngày trước</p>
                            </div>
                        </div>
                        <p class="infomation"></p>
                    </div>
                </div>
                <div class="video-wrap">
                    <div class="video-img v5">
                        <img src="https://i.ytimg.com/vi/1_y6LFeiWDQ/hq2.jpg?sqp=-oaymwE2CNACELwBSFXyq4qpAygIARUAAIhCGABwAcABBvABAfgBtgiAAoAPigIMCAAQARhSIGEoZTAP&rs=AOn4CLDW_LcMtBkWrXo9EpjqPt09MeJfdA" alt="" />
                        <div class="short s5">
                            <svg xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 0 24 24" width="14" focusable="false" style="pointer-events: none; display: inherit; width: 70%; height: 70%;"><path d="m17.77 10.32-1.2-.5L18 9.06c1.84-.96 2.53-3.23 1.56-5.06s-3.24-2.53-5.07-1.56L6 6.94c-1.29.68-2.07 2.04-2 3.49.07 1.42.93 2.67 2.22 3.25.03.01 1.2.5 1.2.5L6 14.93c-1.83.97-2.53 3.24-1.56 5.07.97 1.83 3.24 2.53 5.07 1.56l8.5-4.5c1.29-.68 2.06-2.04 1.99-3.49-.07-1.42-.94-2.68-2.23-3.25z" fill="red"></path></svg>
                            <p>SHORTS</p>
                        </div>
                    </div>
                    <div class="video-content">
                        <div class="video-title">
                            <h3></h3>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                        <div class="channel">
                            <p class="channel-title"></p>
                            <i class="fa-solid fa-circle-check" style="color: gray;"></i>
                            <div class="channel-more">
                                <p class="view"></p>
                                <div class="dot"></div>
                                <p class="date">6 ngày trước</p>
                            </div>
                        </div>
                        <p class="infomation"></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="./js/script.js"></script>
</html>
